.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.centerElem {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.xxSmallFont {
  font-size: xx-small;
}

.paddingCard {
  padding: 15px;
}

.space {
  margin: 30px 0;
}
